<ion-header>
  <ion-toolbar>
  	<ion-buttons slot="start">
  		<ion-menu-button></ion-menu-button>
  	</ion-buttons>
    <ion-title>formulario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

	<form> <!-- ou -->
		<!-- <form (ngSubmit)="enviarDados()"> -->
		<ion-item>
			<ion-label>Nome:</ion-label>
			<ion-input type="text" [(ngModel)]="dadosPessoa.nome" name="nome"></ion-input>
		</ion-item>

		<ion-item>
			<ion-label>E-mail:</ion-label>
			<ion-input type="email" [(ngModel)]="dadosPessoa.email" name="email"></ion-input>
		</ion-item>

		<ion-item>
			<ion-label>Idade:</ion-label>
			<ion-input type="number" [(ngModel)]="dadosPessoa.idade" name="idade"></ion-input>
		</ion-item>


		<ion-button color="primary" type="submit" (click)="enviarDados()">Enviar</ion-button>

	</form>

</ion-content>
