<ion-header>
  <ion-toolbar>
  	<ion-buttons slot="start">
  		<ion-menu-button></ion-menu-button>
  	</ion-buttons>
    <ion-title>formulario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

	<form>

		<ion-item>
			<ion-label>Job:</ion-label>
			<ion-input type="text" [(ngModel)]="dadosPessoa.job" name="job"></ion-input>
		</ion-item>

		<ion-item>
			<ion-label>Name:</ion-label>
			<ion-input type="text" [(ngModel)]="dadosPessoa.name" name="name"></ion-input>
		</ion-item>


		<ion-button color="primary" type="submit" (click)="enviarDados()">Enviar</ion-button>

	</form>

</ion-content>
